# IntelliJ
.idea
*.iml

# Directory for storing files when running locally
local-datastore

# Compiled code
build

# Logs
logs
*.log


# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage directory used by tools like istanbul
coverage
*.lcov

# dotenv environment variables file
.env
.env.test

# parcel-bundler cache (https://parceljs.org/)
.cache

# Serverless directories
.serverless/

# FuseBox cache
.fusebox/

# DynamoDB Local files
.dynamodb/

# TernJS port file
.tern-port

# Local .terraform directories
**/.terraform/*
/terraform/nhs_deployment.tfplan

# Dojo
*.dojo

# Imported utilities
/utils/*/aws-helpers
/terraform/.terraform.lock.hcl
/terraform/tf-out.json
/terraform-db-roles/.terraform.lock.hcl
/terraform-db-roles/dev-db-roles.tfplan

#local certs
*.pem
.vscode/
/venv/
